* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Goldman', cursive;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.header > img {
    width: 100px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu > a {
    color: #000000;
    text-decoration: none;
}

.menu-item-active {
    font-weight: bold;
    color: #3B3B98;
}
